<launch>

    <rosparam file="$(find gen_comm_pkg)/config/pin_out.yaml" />
    <rosparam file="$(find gen_comm_pkg)/config/parameters.yaml" />
    
  <node pkg="gen_comm_pkg" name="gen_comm_node" type="gen_comm_new.py" output="screen"/>
<node pkg="patriot_pkg" name="patriot_pkg_node" type="patriot_pkg_node" output="screen"/>

    <!--<node pkg="i2c_comm_pkg" name="i2c_comm_node" type="i2c_comm.py" output="screen"/>-->
    
    <node pkg="task_space_pkg" name="task_space_pkg_node" type="task_space_pkg_node" output="screen"/>
    <!--<node pkg="spi_comm_pkg" name="spi_comm_node" type="spi_comm.py" output="screen"/>-->

   <!-- <node pkg="accumulator_pkg" name="accumulator_node" type="accumulator.py" output="screen"/>-->

</launch>
